@charset "utf-8";

/* header */

header {
	position: relative;
	top: 0;
    width: 100%;
    z-index: 1002;
    background: rgba(255,255,255,1);
    border-top: 5px solid #000031;
	-webkit-transition: .2s height ease;
	transition: .2s height ease;
}
header .wrap_header {
	width: 86%;
	max-width: 1150px;
	position: relative;
	margin: 0 auto;
	height: 105px;
}
header .wrap_header .open-drawer {
    position: absolute;
	top: 37px;
	left: 0px;
    width: 50px;
    height: 26px;
    cursor: pointer !important;
}
header .wrap_header .open-drawer:hover {
	filter: alpha(opacity=100);
    opacity: 1;
}
header .wrap_header .open-drawer span {
    width: 50px;
    height: 2px;
    display: block;
    background: #707070;
    position: absolute;
}
header .wrap_header .open-drawer span.top {
	top:0;
}
header .wrap_header .open-drawer span.middle {
	top:12px;
}
header .wrap_header .open-drawer span.bottom {
	bottom: 0;
}
header .wrap_header h1 {
	position: absolute;
	top: 35px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
header .wrap_header h1 a {
    display: block;
}
header .wrap_header h1 a img {
	width: 252px;
    height: 30px;
    vertical-align: middle;
}
header .wrap_header h1 .clearText {
	text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    width: 0;
    height: 0;
}
header .wrap_header .right {
    position: absolute;
    right: 0;
    top: 38px;
    font-size: 0;
    line-height: 0;
    letter-spacing: 0;
}
header .wrap_header .right li {
    font-size: 24px;
    line-height: 1;
    display: inline-block;
    margin-left: 35px;
    position: relative;
}
header .wrap_header .right li .num_cart {
    font-size: 14px;
    color: #fff;
    background: #454765;
    width: 24px;
    line-height: 1.75;
    letter-spacing: -1px;
    border-radius: 50px;
    display: block;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: -7px;
    left: 15px;
}
.shadow {
	display: block;
    width: 100%;
    height: 1px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
    background: #fff;
    z-index: 1000;
    top: 110px;
}
.gnav {
	position: relative;
	display: block;
	width: 100%;
    max-width: 100%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.0;
    letter-spacing: 1.0px;
    text-align: center;
    padding-bottom: 20px;
    z-index: 1001;
    background: rgba(255,255,255,1);
}
.gnav li {
    margin: 0 20px;
}
.gnav li:first-child {
    margin-left: 0;
}
.gnav li:last-child {
    margin-right: 0;
}
.gnav li a {
    position: relative;
	display: inline-block;
}
.gnav li a:before,
.gnav li a:after {
	position: absolute;
	top: 1.1em;
	content: "";
	display: inline-block;
	width: 0;
	height: 1px; 
	background: #000;
	-webkit-transition: 0.3s ease;
	transition:  0.3s ease;
}
.gnav li a:before{
	left: 50%;
}
.gnav li a:after{
	right: 50%;
}
.gnav li a:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}
.gnav li a:hover:before,
.gnav li a:hover:after{
	width: 50%;
}
.gnav li a.active:before,
.gnav li a.active:after {
	position: absolute;
	top: 1.1em;
	content: "";
	display: inline-block;
	width: 50%;
	height: 1px; 
	background: #000;
}
@media screen and ( max-width:1160px ) {
	.gnav {
	    font-size: 14px;
	    padding-bottom: 15px;
	}
	.gnav li {
	    margin: 0 10px;
	}
}
@media screen and ( max-width:885px ) {
	.gnav {
	    display: none;
	}
}
@media screen and ( max-width:812px ) {
	header .wrap_header {
	    height: 80px;
	}
	header .wrap_header .open-drawer {
	    top: 29px;
	    width: 35px;
	    height: 20px;
	}
	header .wrap_header .open-drawer span {
	    width: 35px;
	    height: 2px;
	}
	header .wrap_header .open-drawer span.middle {
	    top: 9px;
	}
	header .wrap_header h1 {
	    top: 27px;
	}
	header .wrap_header h1 a img {
	    height: 25px;
	}
	header .wrap_header .right {
	    top: 29px;
	}
	header .wrap_header .right li {
	    font-size: 20px;
	    margin-left: 20px;
	}
	header .wrap_header .right li .num_cart {
	    font-size: 11px;
	    width: 19px;
	    left: 12px;
	}
	.shadow {
	    top: 85px;
	}
}
@media screen and ( max-width:767px ), screen and ( max-width:812px ) and ( orientation:landscape ) {
	header .wrap_header {
	    height: 55px;
	    width: 92%;
	}
	header .wrap_header .open-drawer {
	    top: 21px;
	    width: 25px;
	    height: 13px;
	}
	header .wrap_header .open-drawer span {
	    width: 25px;
	    height: 1px;
	}
	header .wrap_header .open-drawer span.middle {
	    top: 6px;
	}
	header .wrap_header h1 {
	    top: 15px;
	}
	header .wrap_header h1 a img {
	    height: 17px;
	}
	header .wrap_header .right {
	    top: 19px;
	}
	header .wrap_header .right li {
	    font-size: 17px;
	    margin: 0px 6px;
	}
	header .wrap_header .right li:first-child {
	    display: none;
	}
	header .wrap_header .right li .num_cart {
	    font-size: 10px;
	    width: 20px;
	    height: 20px;
	    line-height: 2.1;
	    left: 10px;
	    top: -9px;
	}
	.shadow {
	    top: 60px;
	    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
	}
}

/* shop header */

#header_shop {
    height: 80px;
    width: 100%;
    top: 0;
    z-index: 999;
}
#header_shop .label_popup {
	display: none;
}
body.popup #header_shop .label_popup {
	display: block;
    color: #fff;
    font-size: 16px;
    line-height: 1.1;
    letter-spacing: 1.5px;
    margin: 30px 80px 0 0;
}
#header_shop .toggle_shopmenu {
    position: absolute;
    top: 21px;
    right: 0;
    line-height: 1.0;
    font-size: 35px;
    cursor: pointer;
}
#header_shop .toggle_shopmenu.open {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 18px;
}
#header_shop .toggle_shopmenu .icon-arrow_down:before {
    color: #fff;
}
.shop_menu {
	display: none;
	position: absolute;
	top: 80px;
    right: -50px;
    width: 50%;
    max-width: 450px;
/*    padding: 20px 0 30px;*/
    padding: 20px 50px 30px;
    box-sizing: border-box;
    z-index: 1000;
    /*height: 430px;*/
    overflow: hidden;
}
.shop_menu > ul {
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0 50px;
}
.shop_menu li {
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    display: block;
}
.shop_menu li:last-child {
    margin-bottom: 0;
}
.shop_menu li a {
    color: #fff;
}
.shop_menu li .toggle {
    position: relative;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    line-height: 1.0;
    letter-spacing: 0px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.shop_menu li .toggle:hover {
	filter: alpha(opacity=70);
	opacity: 0.70;
}
.shop_menu li .toggle .plus {
    margin-top: 1px;
    margin-right: 15px;
}
.shop_menu .menulist_shop {
	display: none;
	margin: 25px 0 0 20px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 2.0;
}
.shop_menu .menulist_shop li {
    border: none;
    margin: 0;
    padding: 0;
}
.shop_menu .menulist_shop li.all {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}
@media screen and ( max-width:812px ) {
	#header_shop {
	    height: 60px;
	}
	body.popup #header_shop .label_popup {
	    font-size: 14px;
	    margin: 21px 60px 0 0;
	}
	#header_shop .toggle_shopmenu {
	    top: 15px;
	    font-size: 30px;
	}
	#header_shop .toggle_shopmenu.open {
	    top: 11px;
	}
	.shop_menu {
	    top: 60px;
	    right: -40px;
		padding: 20px 0 30px;
		height: 350px;
	}
	.shop_menu > ul {
	    padding: 0 40px;
	}
	.shop_menu li {
	    margin-bottom: 15px;
	    padding-bottom: 15px;
	}
	.shop_menu li .toggle {
	    font-size: 12px;
	}
	.shop_menu .menulist_shop {
	    margin: 20px 0 0 15px;
	    font-size: 12px;
	}
}
@media screen and ( max-width:767px ), screen and ( max-width:812px ) and ( orientation:landscape ) {
	#header_shop {
	    height: 55px;
	}
	#header_shop .wrap_contents {
	    width: 100%;
	}
	#header_shop h2 {
	    margin-left: 4%;
	}
	#header_shop h2 img {
	    height: 25px;
	}
	body.popup #header_shop .label_popup {
	    font-size: 11px;
	    margin: 20px 15% 0 0;
	}
	#header_shop .toggle_shopmenu {
	    font-size: 24px;
	    right: 4%;
	}
	#header_shop .toggle_shopmenu.open {
	    top: 12px;
	}
	.shop_menu {
	    top: 55px;
	    right: 0;
	    padding: 15px 0 0;
	    width: 100%;
	    height: 204px;
	}
	.shop_menu > ul {
	    padding: 0 5.5% 30px;
	    box-sizing: border-box;
	}
}
@media screen and ( max-width:767px ) {
	#header_shop .label_popup {
	    margin: 20px 16.5% 0 0;
	}
}
@media screen and ( max-width:480px ) {
	.shop_menu {
	    height: 340px;
	}
}