@charset "utf-8";

html {
    height: 100%;
}
body {
	margin:0;
	padding:0;
	-webkit-font-smoothing: antialiased;
	font-size: 13px;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", sans-serif;
	font-weight: normal;
	line-height: 1.8;
	color: #000;
	letter-spacing: 1.0px;
	-webkit-text-size-adjust: 100%;
	font-feature-settings: "palt" 1;
	background-color: #fff;
	height: auto;
	overflow: visible;
}

/* -----------------------------------------------------------------------------
	Fade
--------------------------------------------------------------------------------*/
body::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color:#fff;  /* 背景カラー */
	z-index: 9999;  /* 一番手前に */
	pointer-events: none;  /* 他の要素にアクセス可能にするためにポインターイベントは無効に */
	opacity: 0;  /* 初期値 : 透過状態 */
	-webkit-transition: opacity .6s ease;  /* アニメーション時間は 0.8秒 */
	transition: opacity .6s ease;
}
body.fadeout::after {
	opacity: 1;
}

/* -----------------------------------------------------------------------------
	見出し
--------------------------------------------------------------------------------*/
.head_01 {
    width: 100%;
    border-top: 3px solid #454765;
    padding-top: 30px;
    overflow: hidden;
    margin-bottom: 50px;
}
.head_01 h2 {
	display: inline-block;
    font-size: 32px;
    color: #454765;
    line-height: 1.0;
}
.head_01.tit_jp h2 {
    font-size: 24px;
    font-weight: bold;
}
.tit_page {
    text-align: center;
    color: #454765;
    font-size: 38px;
    letter-spacing: 2.5px;
    line-height: 1.0;
    margin: 60px auto;
    width: 86%;
    max-width: 640px;
    text-transform: uppercase;
}
@media screen and ( max-width:812px ) {
	.head_01 {
	    padding-top: 20px;
	    margin-bottom: 30px;
	}
	.head_01 h2 {
	    font-size: 26px;
	}
	.tit_page {
	    font-size: 32px;
	    margin: 45px auto;
	}
	.head_01.tit_jp h2 {
	    font-size: 20px;
	}
}
@media screen and ( max-width:767px ) {
	.head_01 {
	    margin-bottom: 25px;
	}
	.head_01 h2 {
	    font-size: 22px;
	}
	.tit_page {
	    font-size: 24px;
	    margin: 35px auto;
	    width: 89%;
	    max-width: 89%;
	    letter-spacing: 1.5px;
	}
	.head_01.tit_jp h2 {
	    font-size: 17px;
	}
}
@media screen and ( max-width:450px ) {
	.head_01 {
	    text-align: center;
	}
	.head_01.tit_jp {
	    text-align: left;
	}
	.head_01.tit_jp h2 {
	    font-size: 16px;
	}
}

/* -----------------------------------------------------------------------------
	背景
--------------------------------------------------------------------------------*/
.d_purple { background-color: #454765; }
.b_purple { background-color: #A1A2B1 !important; }
.m_purple { background-color: #DBDBE0; }
.l_purple { background-color: #ECECEF; }
.m_grey { background-color: #f0f0f0; }
.l_grey { background-color: #f7f7f7; }
.white { background-color: #ffffff; }

/* -----------------------------------------------------------------------------
	リンク
--------------------------------------------------------------------------------*/
a {
	color: #000;
	text-decoration: none;
	-webkit-transition: 0.3s ease;
	transition:  0.3s ease;
}
a.underline {
	text-decoration: underline !important;
}
a.pointernone {
	pointer-events: none;
}
@media screen and ( min-width:813px ) {
	a:hover {
		filter: alpha(opacity=70);
		opacity: 0.70;
	}
	a.hovernone:hover {
		filter: alpha(opacity=100);
		opacity: 1;
	}
}

/* -----------------------------------------------------------------------------
	ボタン
--------------------------------------------------------------------------------*/
button {
	-webkit-transition: 0.3s ease;
	transition:  0.3s ease;
}
button:hover {
	filter: alpha(opacity=70);
	opacity: 0.70;
}
.btn_viewall {
    font-size: 16px;
    display: inline-block;
    line-height: 1.9;
    color: #000 !important;
}
.btn_viewall i {
    font-size: 13px;
    margin-right: 5px;
}
.btn_more {
    display: block;
    width: 100%;
    text-align: center;
    border: 1px solid #A09FA6;
    font-size: 18px;
    color: #454765;
    position: relative;
    line-height: 3.2;
    margin-top: 35px;
    overflow: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	box-sizing: border-box;
}
.btn_more i {
    position: absolute;
    right: 35px;
    top: 13px;
    font-size: 30px;
}
.loading {
    margin-top: 35px;
}
.loading img {
    width: 33px;
    height: 33px;
    padding: 13px 0;
}
.btn_shopping {
    width: 100%;
    max-width: 790px;
    margin: 90px auto 0;
    background: #454765;
    color: #fff;
    font-size: 24px;
    line-height: 3.3;
}
.btn_shopping i {
    font-size: 21px;
}
.btn_jp {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0;
    color: #333;
}
.btn_addcart {
    font-size: 18px;
    color: #fff;
    text-align: center;
    width: 100%;
    background: #454765;
    line-height: 1.0;
    padding: 15px 0 17px;
    box-sizing: border-box;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
    letter-spacing: 1.0px;
}
.btn_addcart.soldout {
    background: #a7a7a7;
}
.back_sys.historylist {
    margin-top: 80px;
}
.back_sys.wishlist {
    margin-top: 80px;
    margin-bottom: 0;
}
@media screen and ( max-width:812px ) {
	.btn_viewall {
	    font-size: 13px;
	    line-height: 2;
	}
	.btn_viewall i {
	    font-size: 11px;
	    margin-right: 5px;
	}
	.btn_more {
	    font-size: 16px;
	    line-height: 3.0;
	}
	.btn_more i {
	    right: 25px;
	    font-size: 20px;
	}
	.btn_shopping {
	    margin: 75px auto 0;
	    font-size: 20px;
	    line-height: 3.0;
	}
	.btn_shopping i {
	    font-size: 16px;
	}
	.loading img {
	    width: 32px;
	    height: 32px;
	    padding: 9px 0;
	}
	.btn_jp {
	    font-size: 13px;
	}
	.btn_addcart {
	    font-size: 15px;
	    padding: 11px 0 12px;
	}
	.back_sys.historylist,
	.back_sys.wishlist {
	    margin-top: 55px;
	}
}
@media screen and ( max-width:767px ) {
	.btn_viewall {
	    font-size: 12px;
	}
	.btn_more {
	    font-size: 15px;
	    margin-top: 25px;
	}
	.btn_more i {
	    right: 20px;
	    top: 12px;
	}
	.loading {
	    margin-top: 25px;
	}
	.loading img {
	    width: 25px;
	    height: 25px;
	    padding: 11px 0;
	}
	.btn_shopping {
	    margin: 45px auto 0;
	    font-size: 16px;
	}
	.btn_shopping i {
	    font-size: 14px;
	}
	.btn_jp {
	    font-size: 12px;
	    text-decoration: underline;
	}
	.back_sys.historylist {
	    margin-top: 50px;
	}
	.back_sys.wishlist {
	    margin-top: 40px;
	}
}
@media screen and ( max-width:450px ) {
	.btn_viewall {
	    display: none;
	}
	.btn_viewmore_sp {
	    display: block;
	    width: 100%;
	    text-align: center;
	    font-size: 15px;
	    letter-spacing: 0.5px;
	    color: #454765;
	    margin-top: 40px;
	    background: url(../images/ico/arrow_viewmore.png) no-repeat;
	    background-size: 120px 5px;
	    background-position: 51% bottom;
	    line-height: 2.7;
	}
	.btn_addcart {
	    font-size: 15px;
	    padding: 17px 0 18px;
	    margin-top: 0;
	}
}

/* -----------------------------------------------------------------------------
	pager
--------------------------------------------------------------------------------*/
.pager {
    text-align: center;
    font-size: 18px;
    margin-top: 45px;
}
.pager > p {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    margin: 0 10px;
}
.pager > a {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 3px;
    vertical-align: middle;
}
.pager > a.next {
    margin-left: 15px;
}
.pager > a.prev {
    margin-right: 15px;
}
.pager > a.active {
    font-weight: bold;
    pointer-events: none;
}
.pager > a.prev span {
    width: 13px;
    height: 13px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.pager > a.next span {
    width: 13px;
    height: 13px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    display: inline-block;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
@media screen and ( max-width:812px ) {
	.pager {
	    text-align: center;
	    font-size: 15px;
	    margin-top: 25px;
	}
	.pager > a {
	    width: 20px;
	    height: 20px;
	}
	.pager > a.prev span,
	.pager > a.next span {
	    width: 10px;
	    height: 10px;
	}
}
@media screen and ( max-width:767px ) {
	.pager > a {
	    margin: 0 10px;
	}
}

/* -----------------------------------------------------------------------------
	form
--------------------------------------------------------------------------------*/
button {
	background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", sans-serif;
}
input, 
textarea, 
select {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0;
	border: 0;
	margin: 0;
	padding: 0;
	background: none transparent;
	vertical-align: middle;
	font-size: inherit;
	color: inherit;
	box-sizing: content-box;
    outline: none;
	font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", sans-serif;
}

/* -----------------------------------------------------------------------------
	display
--------------------------------------------------------------------------------*/
.block {display: block !important;}
.inline {display: inline !important;}
.inline_b {display: inline-block !important;}

/* -----------------------------------------------------------------------------
	img
--------------------------------------------------------------------------------*/
img {
	max-width: 100%;
	width: auto;
	height: auto;
	vertical-align: bottom;
}
img.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* -----------------------------------------------------------------------------
	レイアウト
--------------------------------------------------------------------------------*/
.fl	{ float: left !important; }
.fr	{ float: right !important; }
.cb { clear: both !important; }
.hidden { overflow: hidden; }

/* -----------------------------------------------------------------------------
	フォント
--------------------------------------------------------------------------------*/
.t-center { text-align: center !important; }
.t-left { text-align: left !important; }
.t-right { text-align: right !important; }
.bold { font-weight: 600; }
.red { color: #D0021B; }
.underline { text-decoration: underline !important; }
.border_none { border: none !important; }
.times { font-family: 'Times', 'Georgia', Serif; }
.os { font-family: 'Open Sans', sans-serif; }
.mont { font-family: 'Montserrat', sans-serif;font-weight: 700; }
.mont_medi { font-family: 'Montserrat', sans-serif;font-weight: 500; }
.min { font-family: "游明朝体", "YuMincho", "游明朝", "Yu Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN W3", HiraMinProN-W3, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif; }

/* -----------------------------------------------------------------------------
	リスト
--------------------------------------------------------------------------------*/
ul { list-style: none; }
li { display: inline; }

/* -----------------------------------------------------------------------------
	パンくず
--------------------------------------------------------------------------------*/
.wrap_contents.bread {
    margin-top: 30px;
    margin-bottom: -10px;
    font-size: 16px;
    letter-spacing: 0;
    color: #454765;
}
.wrap_contents.bread.feature {
    margin-top: -30px;
    margin-bottom: 50px;
}
.bread li {
    margin-right: 10px;
}
.bread li.arrow {
    color: #ccc;
}
.bread li a {
    color:#454765;
}
@media screen and ( max-width:812px ) {
	.wrap_contents.bread {
	    margin-top: 20px;
	    margin-bottom: -10px;
	    font-size: 13px;
	}
	.wrap_contents.bread.feature {
	    margin-bottom: 30px;
	}
	.bread li {
	    margin-right: 5px;
	}
}
@media screen and ( max-width:767px ) {
	.wrap_contents.bread {
	    margin: 7px 0 0 0;
	    font-size: 10px;
	    width: 100%;
	    box-sizing: border-box;
	    overflow-y: hidden;
	    border-bottom: 1px solid #ececec;
	}
	.wrap_contents.bread.feature {
	    margin-bottom: 0;
	    margin-top: 7px;
	    background: #fff;
	    border-bottom: none;
	}
	.wrap_contents.bread ul {
	    overflow-x: scroll;
	    overflow-y: hidden;
	    -webkit-overflow-scrolling: touch;
	    white-space: nowrap;
	    padding: 0 5.5% 7px;
	}
}
/* -----------------------------------------------------------------------------
	デバイス別非表示
--------------------------------------------------------------------------------*/
@media screen and ( min-width:813px ) {
	.pc_none {
		display: none !important;
	}
}
@media screen and ( max-width:812px ) {
	.sp_none {
		display: none !important;
	}
}
@media screen and ( max-width:450px ) {
	.sp_portrait_none {
		display: none !important;
	}
}
@media screen and ( min-width:450px ) {
	.sp_portrait_only {
		display: none !important;
	}
}

/* -----------------------------------------------------------------------------
	clearfix
--------------------------------------------------------------------------------*/
.clearfix:after {
	display: block;
	clear: both;
	height: 0px;
	visibility: hidden;
	content: ".";
}

/* -----------------------------------------------------------------------------
	fade
--------------------------------------------------------------------------------*/
.fade-in {
  transition: opacity 0.8s;
  -webkit-transition: opacity 0.8s;
}

/* -----------------------------------------------------------------------------
	error page
--------------------------------------------------------------------------------*/
.wrap_contents.sub .intro.error {
    text-align: center;
}


/* -----------------------------------------------------------------------------
	FAQ page
--------------------------------------------------------------------------------*/
.intro.faq {
	border-bottom:1px solid #D8D8D8;
}
.intro.faq ul{
	display: flex;
	justify-content: flex-start;
}
.intro.faq ul li:first-child{
	width: 35px;
	font-weight: bold;
}
.intro.faq ul li:last-child{
	width: calc(100% - 35px);
}
.intro.faq .intro_detail_q{
	font-size:16px;
	font-weight: bold;
	cursor: pointer;
	border-top:1px solid #D8D8D8;
	padding-right: 	68px;
	box-sizing: border-box;
	position: relative;
	padding-top: 25px;
	padding-bottom: 25px;
	line-height: 1.8;
	letter-spacing: 0px;
}
.intro.faq .intro_detail_q:after{
	content: "+";
  position: absolute;
  color:#000;
  font-size:25px;
  right:25px;
  top:calc(50% - 12.5px);
  transition:0.1s linear;
  line-height: 1;
}
.intro.faq .intro_detail_q.title_aside:after{
-ms-transform: rotate(45deg); /* IE 9 */
  transform: rotate(45deg);
  transition:0.1s linear;
  right:24px;
}
.intro.faq .intro_detail_a{
	line-height: 1.8;
	padding-bottom: 25px;
	padding-right: 65px;
	box-sizing: border-box;
	font-size:16px;
}
@media screen and ( max-width:767px ) {
	.intro.faq .intro_detail_q{
		padding-top: 15px;
		padding-bottom: 15px;
		line-height: 1.5;
		font-size:13px;
		padding-right: 	45px;
	}
	.intro.faq .intro_detail_a{
		padding-bottom: 15px;
		line-height: 1.5;
	}
	.intro.faq ul li:first-child{
		width: 25px;
		font-size: 13px;
	}
	.intro.faq ul li:last-child{
		width: calc(100% - 25px);
		font-size: 13px;
	}
	.intro.faq .intro_detail_q:after{
		font-size:20px;
		right:15px;
	}
	.intro.faq .intro_detail_q.title_aside:after{
		right:15px;
	}
}