@charset "utf-8";

/*==========================================================
	SUB
==========================================================*/
/* common */
.tit_page.cntr h2 {
	text-align:center;
}

.wrap_contents.sub {
	max-width:790px;
	border-top:3px solid #454765;
	padding-top:60px;
	color:#4D4D4D;
	font-size:16px;
	font-feature-settings:normal;
}

.wrap_contents.sub > div,
body#signup .wrap_contents.sub form > div {
	margin-bottom:45px;
}

.wrap_contents.sub .intro.error {
    margin: 100px auto 140px;
}
.wrap_contents.sub .intro h3 {
	font-size:22px;
	font-weight:700;
	line-height:1.3;
	margin-bottom:40px;
}

.wrap_contents.sub h3.single {
	font-size:22px;
	font-weight:700;
	line-height:1.3;
	margin-top:40px;
	margin-bottom:20px;
}

.submit_sys,.back_sys {
	background:#454765;
	color:#fff;
	text-align:center;
	font-weight:700;
	font-size:22px;
	padding:15px 0;
	cursor:pointer;
	width:100%;
	max-width:500px;
	margin:0 auto 60px;
}

.submit_sys.small,.back_sys.small {
	font-size:18px;
/* 	padding:1em 0; */
}

.submit_sys.confirm {
	margin:0 auto 15px;
}

.submit_sys.guest {
	background:none;
	color:#504E4E;
	border:1px solid #707070;
	box-sizing:border-box;
}

.back_sys {
	background:#B2B2B2;
	line-height: 1.5;
}

#ssl {
	font-size:13px;
	line-height:1.5;
	margin-bottom:100px;
}

body#cart #ssl {
	margin-bottom:40px;
}

#ssl span {
	float:left;
}

#ssl span.t-left {
	margin:10px 0 0 30px;
}

@media screen and ( max-width:812px ) {
	.wrap_contents.sub {
		padding-top:35px;
		font-size:14px;
	}
	
	.wrap_contents.sub > div,
	body#signup .wrap_contents.sub form > div  {
		margin-bottom:35px;
	}
	
	.wrap_contents.sub .intro h3 {
		font-size:18px;
		margin-bottom:25px;
	}
	
	.submit_sys,.back_sys {
		font-size:18px;
		padding:15px 0;
		margin-bottom:35px;
	}
	
	.submit_sys.confirm {
		margin-bottom:15px;
	}
	
	.wrap_contents.sub h3.single {
	    font-size: 18px;
	    margin-bottom: 15px;
	}
	#ssl {
		font-size:11px;
		margin-bottom:60px;
	}
	
	body#cart #ssl {
		margin-bottom:10px;
	}
	
	#ssl span.t-left {
		margin:11px 0 0 20px;
	}
}

@media screen and ( max-width:767px ) {
	.wrap_contents.sub {
		padding-top:25px;
		font-size:13px;
	}
	
	.wrap_contents.sub > div,
	body#signup .wrap_contents.sub form > div  {
		margin-bottom:25px;
	}
	.wrap_contents.sub .intro.error {
	    margin: 60px auto 80px;
	}
	.wrap_contents.sub .intro h3 {
		font-size:16px;
		margin-bottom:20px;
	}
	
	.submit_sys,.back_sys {
		font-size:15px;
		padding:10px 0;
		margin-bottom:30px;
	}
	
	.submit_sys.confirm {
		margin-bottom:10px;
	}
	
	.wrap_contents.sub h3.single {
	    font-size: 16px;
	    margin-bottom: 10px;
	}
	#ssl {
		font-size:10px;
		margin-bottom:30px;
	}
	
	#ssl br {
		display:none;
	}
	
	#ssl img {
		width:110px!important;
	}
	
	#ssl span.t-left {
		margin:0 0 0 15px;
		width:calc(100% - 125px);
		line-height:1.4;
	}
	.submit_sys.small, .back_sys.small {
	    font-size: 15px;
	}
}

/* signup */
.wrap_contents.sub .wrap_benefits {
	border:10px solid #DEDEE3;
	background:#F8F8F9;
	padding:50px 65px;
}

.wrap_contents.sub .wrap_benefits h3 {
	font-weight:700;
	font-size:22px;
	line-height:1;
	padding-bottom:45px;
	border-bottom:1px solid #454765;
	margin-bottom:40px;
}

.wrap_contents.sub .wrap_benefits .benefits {
	margin-bottom:40px;
}

.wrap_contents.sub .wrap_benefits .benefits:last-child {
	margin-bottom:0;
}

.wrap_contents.sub .wrap_benefits .benefits h4 {
	font-size:22px;
	font-weight:700;
	line-height:1.3;
	margin-bottom:15px;
}

.wrap_contents.sub .wrap_benefits .benefits a.block {
	width: 100%;
    max-width: 360px;
    background: #72738A;
    color: #fff;
    font-weight: 700;
    text-align: center;
    padding: 7px 0 8px;
    margin-top: 15px;
}

.wrap_contents.sub .terms {
	border:1px solid #C6C7D0;
	margin:40px 0;
	font-size:13px;
	padding:35px 40px;
	height:350px;
	overflow:scroll;
	line-height:1.6;
}

table.form {
	width:100%;
	border-collapse:separate;
	border-spacing:0 12px;
	font-size:14px;
	line-height:1.4;
	letter-spacing:0;
	margin-bottom:60px;
}

table.form th {
	width:29%;
	background-color:#E4E5E9;
	padding:15px 25px;
	box-sizing:border-box;
	border-right:2px solid #fff;
	vertical-align:middle;
	font-weight:700;
	color:#000;
}

table.form td {
	width:71%;
	font-size:0;
	letter-spacing:0;
	vertical-align:middle;
}

table.form td input,table.form td select {
	background-color:#EDEEF0;
	padding:15px 0 15px 20px;
	box-sizing:border-box;
	border-left:2px solid #fff;
	color:#000;
	font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
	font-size:14px;
}

table.form td select {
	cursor:pointer;
	background-color:transparent;
	position:relative;
	z-index:1;
}

table.form td .wrap_radio {
	display:inline-block;
	position:relative;
	font-size:14px;
}

table.form td input[type=radio] {
	display:none;
}

table.form td input[type=radio] + label {
	padding-left:20px;
	position:relative;
	cursor:pointer;
	margin-left:20px;
	box-sizing:border-box;
	border-left:2px solid #fff;
}

table.form td input[type=radio] + label::before {
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:12px;
	height:12px;
	border:1px solid #999;
	border-radius:50%;
}

table.form td ul#paytype_list li label
{
	margin-left:20px;
	cursor:pointer;
}

table.form td input[type=radio]:checked + label::after {
	content:"";
	display:block;
	position:absolute;
	top:3px;
	left:3px;
	width:8px;
	height:8px;
	background:#72738A;
	border-radius:50%;
}

table.form td ul#paytype_list li label input[type=radio]:checked {
	padding:0;
	border-left:none;
	content:"";
	display:block;
	position:absolute;
	top:3px;
	left:3px;
	width:8px;
	height:8px;
	background:#72738A;
	border-radius:50%;
}

table.form td ul#paytype_list li label::before {
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:12px;
	height:12px;
	border:1px solid #999;
	border-radius:50%;
}

table.form td .wrap_select {
	position:relative;
	display:inline-block;
	background:#EDEEF0;
}

table.form td .wrap_select::after {
	content:'';
	position:absolute;
	z-index:0;
	top:23px;
	bottom:0;
	margin:auto 0;
	right:20px;
	width:15px;
	background:url(../images/ico/arrow_select.png) no-repeat;
	background-size:15px;
}

table.form td .btn_zip {
	background:#72738A;
	color:#fff;
	font-size:12px;
	padding:5px 20px;
	margin-left:20px;
	cursor:pointer;
}

table.form td .search_zip {
	font-size:13px;
	text-decoration:underline;
	margin-left:20px;
	display:inline-block;
	vertical-align:middle;
}

table.form td .col1 {
	width:100%;
}

table.form td .col2 {
	width:50%;
}

table.form td .col3 {
	width:calc(100% / 3);
}

table.form td .col4 {
	width:25%;
}

table.form td .mb2 {
	margin-bottom:2px;
}

table.form td .ph::-webkit-input-placeholder {
	color:#777;
}

table.form td .ph::-moz-placeholder {
	color:#777;
}

table.form td .ph:-ms-input-placeholder {
	color:#777;
}

table.form.confirm td {
	font-size:14px;
	background:#edeef0;
	padding:15px 0 15px 20px;
	box-sizing:border-box;
}

table.form.confirm td.contact-msg {
	padding:20px;
}

table.form .form_error td .error {
	font-size:13px;
	margin:0 0 10px 20px;
}

table.form .form_error th {
	background:none;
}

@media screen and ( max-width:812px ) {
	.wrap_contents.sub .wrap_benefits {
		padding:35px 40px;
	}
	
	.wrap_contents.sub .wrap_benefits h3 {
		font-size:18px;
		padding-bottom:35px;
		margin-bottom:30px;
	}
	
	.wrap_contents.sub .wrap_benefits .benefits {
		margin-bottom:25px;
		line-height:1.7;
	}
	
	.wrap_contents.sub .wrap_benefits .benefits h4 {
		font-size:18px;
		margin-bottom:10px;
	}
	
	.wrap_contents.sub .wrap_benefits .benefits a.block {
		max-width:300px;
		margin-top:10px;
		font-size:13px;
	}
	
	.wrap_contents.sub .terms {
		margin:25px 0;
		font-size:12px;
	}
	
	table.form {
		margin-bottom:40px;
		font-size:13px;
	}
	
	table.form td input,table.form td select,table.form.confirm td {
		font-size:13px;
	}
	
	table.form td .btn_zip {
		font-size:11px;
	}
	
	table.form td .search_zip {
		font-size:12px;
	}
	
	table.form .form_error td .error {
		font-size:12px;
		margin:0 0 5px 20px;
	}
}

@media screen and ( max-width:767px ) {
	.wrap_contents.sub .wrap_benefits {
		padding:20px 25px;
		border:7px solid #DEDEE3;
		font-size:12px;
	}
	
	.wrap_contents.sub .wrap_benefits h3 {
		font-size:16px;
		padding-bottom:20px;
		margin-bottom:20px;
	}
	
	.wrap_contents.sub .wrap_benefits .benefits h4 {
		font-size:15px;
	}
	
	.wrap_contents.sub .wrap_benefits .benefits a.block {
		font-size:12px;
	}
	
	.wrap_contents.sub .terms {
		margin:20px 0;
		font-size:11px;
		padding:20px 25px;
	}
	
	table.form {
		margin-bottom:15px;
		font-size:12px;
	}
	
	table.form td .btn_zip {
		font-size:10px;
		margin:10px 0 5px;
	}
	
	table.form td .search_zip {
		font-size:10px;
		margin-left:15px;
		margin-top:2px;
	}
	
	table.form th {
		width:100%;
		display:block;
		padding:12px 15px;
		margin-bottom:2px;
		border-right:none;
	}
	
	table.form td {
		width:100%;
		display:block;
	}
	
	table.form td input,table.form td select {
		padding:12px 0 12px 15px;
		font-size:12px;
	}
	
	table.form td input:first-child,table.form td select:first-child {
		border-left:none;
	}
	
	table.form td .col1 {
		border-left:none;
	}
	
	table.form td .wrap_select.col2 {
		width:100%;
	}
	
	table.form td .wrap_select.col3 {
		border-right:2px solid #fff;
		box-sizing:border-box;
	}
	
	table.form td .wrap_select.col3:last-child {
		border-right:none;
	}
	
	table.form td .col4 {
		width:50%;
	}
	
	table.form td .wrap_select::after {
		top:18px;
		right:15px;
	}
	
	table.form td input[type=radio] + label {
		margin-left:12px;
	}
	
	table.form td .wrap_radio {
		display:inline-block;
		position:relative;
		font-size:12px;
		margin:10px 0;
	}
	
	table.form.confirm {
		margin-bottom:25px;
	}
	
	table.form.confirm td {
		font-size:12px;
		padding:12px 0 12px 15px;
	}
	
	table.form .form_error th {
		display:none;
	}
	
	table.form .form_error td .error {
		font-size:11px;
		margin:0 0 5px 15px;
	}
}

/* login */
.login {
	background:#EDEEF0;
	padding:60px 75px;
	letter-spacing:.5px;
	color:#000;
}

.form_error {
	font-size:14px;
	letter-spacing:0;
	margin-bottom:15px;
	line-height:1.4;
}

.intro .wrap_btn {
	width:100%;
	max-width:500px;
	margin:0 auto;
}

.intro .wrap_btn dl dt {
	font-weight:700;
	margin-bottom:5px;
}

.intro .wrap_btn dl dd {
	margin-bottom:20px;
}

.intro .wrap_btn dl dd:last-child {
	margin-bottom:0;
}

.intro .wrap_btn dl dd input {
	background:#fff;
	width:100%;
	box-sizing:border-box;
	padding:7px 20px;
}

.wrap_check {
	margin:20px 0;
	display:block;
	position:relative;
}

.wrap_check.border {
	margin:20px 0 40px;
	font-size:14px;
	text-align:center;
	border:1px solid #707070;
	padding:2em;
}

.wrap_check input[type=checkbox] {
	display:none;
}

.wrap_check input[type=checkbox] + label {
	padding-left:30px;
	position:relative;
	cursor:pointer;
	box-sizing:border-box;
}

.wrap_check input[type=checkbox] + label::before {
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:15px;
	height:15px;
	border:1px solid #999;
	background:#fff;
}

.wrap_check input[type=checkbox]:checked + label::after {
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:15px;
	height:15px;
	border:1px solid #999;
	background:#fff url(../images/ico/ico_check_sys.png) no-repeat;
	background-size:16px;
	background-position:center;
}

.intro .wrap_btn .reminder {
	font-size:14px;
	letter-spacing:0;
	margin-top:20px;
}

.login .txt {
	margin-bottom:40px;
}

.login .submit_sys {
	padding:10px 0;
	margin-bottom:0;
}

@media screen and ( max-width:812px ) {
	.login {
		padding:35px 60px;
	}
	
	.login .txt {
		margin-bottom:20px;
	}
	
	.login .submit_sys {
		padding:7px 0;
	}
	
	.intro .wrap_btn {
		max-width:100%;
	}
	
	.intro .wrap_btn dl dd {
		margin-bottom:15px;
	}
	
	.intro .wrap_btn .reminder {
		font-size:12px;
		letter-spacing:0;
		margin-top:15px;
	}
	
	.wrap_check {
		margin:15px 0;
	}
	
	.wrap_check.border {
		text-align:left;
		padding:1em 2em;
		line-height: 1.4;
		margin: 15px 0 30px;
	}
	
	.wrap_check input[type=checkbox] + label::before {
		width:13px;
		height:13px;
	}
	
	.wrap_check input[type=checkbox]:checked + label::after {
		width:13px;
		height:13px;
		background-size:13px;
	}
	
	.form_error {
		font-size:13px;
		margin-bottom:10px;
	}
}

@media screen and ( max-width:767px ) {
	.login {
		padding:25px 30px;
	}
	
	.login .submit_sys {
		padding:5px 0;
	}
	
	.intro .wrap_btn dl dt {
		margin-bottom:3px;
	}
	
	.intro .wrap_btn dl dd {
		margin-bottom:10px;
	}
	
	.intro .wrap_btn dl dd input {
		padding:5px 15px;
	}
	
	.intro .wrap_btn .reminder {
		font-size:11px;
		margin-top:10px;
	}
	
	.wrap_check {
		margin:10px 0;
	}
	
	.wrap_check input[type=checkbox] + label {
		padding-left:20px;
		letter-spacing:0;
		font-size:12px;
	}
	
	.wrap_check input[type=checkbox] + label::before {
		width:11px;
		height:11px;
	}
	
	.wrap_check input[type=checkbox]:checked + label::after {
		width:11px;
		height:11px;
		background-size:11px;
	}
	
	.login .txt {
		margin-bottom:20px;
		font-size:12px;
		line-height:1.7;
	}
	
	.form_error {
		font-size:12px;
	}
}

/* shopping cart */
table.cart {
	width:100%;
	margin:-30px 0 30px;
	table-layout:fixed;
	border-collapse:separate;
	border-spacing:0 30px;
}

table.cart th {
	background:#72738A;
	color:#fff;
	text-align:center;
	font-size:14px;
	font-weight:700;
	border-right:1px solid #fff;
	box-sizing:border-box;
	padding:12px 0;
}

table.cart th:nth-child(1) {
	width:63.3%;
}

table.cart th:nth-child(2) {
	width:13.9%;
}

table.cart th:nth-child(3) {
	width:22.8%;
}

table.cart td {
	vertical-align:middle;
	font-size:14px;
	letter-spacing:0;
	line-height:1.4;
	color:#454765;
	text-align:center;
	border-right:1px solid #D8D8D8;
}

table.cart td.border_none {
	border-right:none;
}

table.cart td .box_item {
	overflow:hidden;
}

table.cart td .box_item > img {
	width:25%;
}

table.cart td .box_item .item_detail {
	box-sizing:border-box;
	width:75%;
	padding:0 25px;
	text-align:left;
}

table.cart td .box_item .item_detail > p {
	margin-bottom:15px;
}

table.cart td .box_item .item_detail dl dt,table.cart td .box_item .item_detail dl dd {
	display:inline;
	font-size:13px;
}

table.cart td .wrap_select {
	position:relative;
	display:inline-block;
	background:#F1F1F1;
}

table.cart td .wrap_select::after {
	content:'';
	position:absolute;
	z-index:0;
	top:13px;
	bottom:0;
	margin:auto 0;
	right:9px;
	width:13px;
	background:url(../images/ico/arrow_select.png) no-repeat;
	background-size:13px;
}

table.cart td .wrap_select select {
	padding:5px 40px 5px 10px;
	box-sizing:border-box;
	font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
	cursor:pointer;
	background-color:transparent;
	position:relative;
	z-index:1;
}
select::-ms-expand {
    display: none;
}

table.cart td .price {
	font-size:16px;
	margin-bottom:10px;
}

table.cart.confirm td .price {
	font-size:16px;
	margin-bottom:0;
}

table.cart td hr {
	margin:0;
	border-top:1px solid #D8D8D8;
}

table.cart td.total {
	border-right:1px solid #fff;
	font-weight:700;
	padding:15px 30px;
	background:#EBEBEE;
	overflow:hidden;
}

table.cart td.total span {
	font-size:18px;
}

.wrap_contents.sub .btn_area hr {
	width:100%;
	max-width:250px;
	margin:30px auto;
}

.no_item {
	font-size:20px;
	margin:100px 0 150px;
}

table.cart.child {
	width:100%;
	margin:-20px 0 0;
	border-spacing:0 10px;
}

table.cart td.child_wrapper {
	vertical-align:middle;
	font-size:14px;
	letter-spacing:0;
	line-height:1.4;
	color:#454765;
	text-align:left;
	border-right:none;
}

table.cart.child td.price_info {
	width:77%;
	background:#fff;
	color:#000;
	font-weight:700;
	padding-left:2em;
}

table.cart.child td.price {
	width:22.8%;
	border-right:1px solid #fff;
	font-weight:700;
	padding:15px 10px;
	background:#fff;
	overflow:hidden;
}

table.cart.child tr.total td {
	background:#EBEBEE;
	color:#454765;
}

table.cart.child tr.total td.price {
	font-size:18px;
	padding:20px 10px;
}

table.cart.child td.price_info.total_price {
	border-right:1px solid #fff;
}

@media screen and ( max-width:812px ) {
	table.cart {
		margin:-20px 0 5px;
		border-spacing:0 20px;
	}
	
	table.cart th,table.cart td {
		font-size:13px;
	}
	
	table.cart td .price,
	table.cart.confirm td .price {
		font-size:13px;
	}

	table.cart.child tr.total td.price {
		font-size:15px;
	}
	
	table.cart td.total span {
		font-size:16px;
	}
	
	table.cart td .box_item .item_detail > p {
		margin-bottom:10px;
	}
	
	table.cart td .wrap_select::after {
		top:12px;
	}
	
	.no_item {
		font-size:18px;
		margin:80px 0 110px;
	}
}

@media screen and ( max-width:767px ) {
	table.cart th:nth-child(1) {
		width:55%;
	}
	
	table.cart th:nth-child(2) {
		width:20%;
	}
	
	table.cart th:nth-child(3) {
		width:25%;
	}
	
	table.cart td .box_item > img {
		width:50%;
		margin:0 auto 15px;
		float:none!important;
	}
	
	table.cart td .box_item .item_detail {
		width:100%;
		padding:0 15px;
		float:none!important;
		text-align:center;
	}
	
	table.cart td .box_item .item_detail > p {
		margin-bottom:7px;
	}
	
	table.cart td .wrap_select select {
		padding:5px 30px 5px 10px;
	}
	
	table.cart td.total {
		padding:15px 10px;
	}
	
	table.cart th,table.cart td,table.cart td .box_item .item_detail dl dt,table.cart td .box_item .item_detail dl dd {
		font-size:11px;
	}
	
	table.cart td .price {
		font-size:12px;
		margin-bottom:7px;
	}
	
	table.cart.confirm td .price {
		font-size:12px;
	}
	
	table.cart td.total span {
		font-size:12px;
	}
	
	.wrap_contents.sub .btn_area hr {
		max-width:150px;
		margin:25px auto;
	}
	
	.no_item {
		font-size:14px;
		margin:55px 0 70px;
	}
	
	table.cart.child td.price {
		width:25%;
	}
	
	table.cart.child tr.total td.price {
		font-size:13px;
	}
	
	table.cart.child td.price_info {
		width:75%;
	}
}

/* common shimazaki */
.mb60 {
	margin-bottom:60px;
}

p.last-msg {
	margin-bottom:60px;
}

.msg-bloc {
	text-align:center;
	padding:50px 25px;
	color:#000031;
	background-color:rgba(115,116,138,0.04);
	margin-bottom:40px;
}

.msg-bloc h4 {
	font-size:22px;
	font-weight:700;
	line-height:1.4;
	padding:1em 0;
}
.msg-bloc h4 span {
	font-size: 16px;
    letter-spacing: 0;
    font-weight: normal;
}
.msg-bloc.unsubscribe {
	padding:50px;
	text-align:left;
	background-color:#FFF2F2;
}

.msg-bloc.unsubscribe h4 {
	color:#000031;
}

@media screen and ( max-width:812px ) {
	.msg-bloc h4 {
		font-size:18px;
	}
	.msg-bloc h4 span {
		font-size: 14px;
	}
	.mb60 {
	    margin-bottom: 45px;
	}
}

@media screen and ( max-width:767px ) {
	p.last-msg {
		margin-bottom:25px;
	}
	
	.msg-bloc,.msg-bloc.unsubscribe {
		padding:20px;
		margin-bottom:25px;
	}
	
	.msg-bloc h4 {
		font-size:16px;
	}
	.msg-bloc h4 span {
		font-size: 13px;
	}
	.mb60 {
	    margin-bottom: 30px;
	}
}

/* contact */
.wrap_contents.sub .intro h3.contact_info_tit {
	margin-bottom:25px;
}

table.contact_info {
	width:100%;
	color:#000031;
	box-sizing:border-box;
	border-collapse:separate;
	border-spacing:0 15px;
}

.contact_info th,.contact_info td {
	width:50%;
	vertical-align:middle;
	padding:25px 30px;
	border:1px solid #fff;
	font-weight:700;
}

.contact_info th {
	text-align:left;
	font-size:16px;
	background:#E4E5E9;
}

.contact_info th span {
	display:block;
	font-size:14px;
	font-weight:400;
}

.contact_info td {
	text-align:center;
	font-size:22px;
	background:#EDEEF0;
}

.contact_info td span {
	display:inline-block;
	font-size:14px;
	font-weight:400;
	padding-left:.5em;
}

textarea.contact-msg {
	resize:vertical;
	width:100%;
	height:250px;
	background-color:#EDEEF0;
	padding:15px 0 15px 20px;
	box-sizing:border-box;
	border-left:2px solid #fff;
	color:#4A4A4A;
	font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
	font-size:14px;
}
@media screen and ( max-width:812px ) {
	.contact_info th {
		line-height: 1.4;
	}
	.contact_info th span {
	    font-size: 12px;
	    margin-top: 5px;
	}
	.contact_info td {
		line-height: 1.0;
	}
	.contact_info td span {
	    font-size: 12px;
	}
}
@media screen and ( max-width:767px ) {
	.wrap_contents.sub .intro h3.contact_info_tit {
		margin-bottom:10px;
	}
	
	.contact_info th {
		font-size:14px;
	}
	
	.contact_info td {
		font-size:20px;
	}
	
	.contact_info th,.contact_info td {
		display:block;
		width:100%;
		padding:25px 0;
		text-align:center;
	}
	textarea.contact-msg {
	    border-left: none;
	}
}

/* cart */
.send-option {
	display:none;
	overflow:hidden;
}

/* cart > option */
table.option {
	width:100%;
	margin:0;
	table-layout:fixed;
	border-collapse:separate;
	border-spacing:0 20px;
}

table.option th {
	background:#72738A;
	color:#fff;
	text-align:center;
	font-size:14px;
	font-weight:700;
	border-right:1px solid #fff;
	box-sizing:border-box;
	padding:12px 0;
}

table.option td {
	vertical-align:middle;
	padding:0;
	letter-spacing:0;
	line-height:1.4;
	text-align:center;
	border-right:1px solid #D8D8D8;
}

table.option td hr {
	margin:0;
	border-top:1px solid #D8D8D8;
}

table.option td a {
	color:#454765;
	text-decoration:underline;
}

table.option td .wrap_radio {
	display:inline-block;
	position:relative;
	font-size:14px;
	padding:0 25px;
}

table.option td input[type=radio] {
	display:none;
}

table.option td input[type=radio] + label {
	padding-left:20px;
	position:relative;
	cursor:pointer;
	box-sizing:border-box;
	border-left:2px solid #fff;
}

table.option td input[type=radio] + label::before {
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:12px;
	height:12px;
	border:1px solid #999;
	border-radius:50%;
}

table.option td input[type=radio]:checked + label::after {
	content:"";
	display:block;
	position:absolute;
	top:3px;
	left:3px;
	width:8px;
	height:8px;
	background:#72738A;
	border-radius:50%;
}

table.option td.border_none {
	border-right:none;
}

@media screen and ( max-width:767px ) {
	table.option {
		border-spacing:0 15px;
	}
	
	table.option.payment {
		border-spacing:0 10px!important;
	}
	
	table.option th {
		font-size:12px;
	}
	
	table.option td .wrap_radio {
		padding:0 10px;
	}
	
	table.option th:nth-child(2) {
		width:40%;
	}
}

/* delivery  */
table.option.delivery {
	margin-bottom:40px;
}

table.option td.add {
	font-size:16px;
	text-align:left;
	padding:.5em 25px;
}

table.option.delivery th:nth-child(1) {
	width:10%;
}

table.option.delivery th:nth-child(2) {
	width:70%;
}

table.option.delivery th:nth-child(3) {
	width:10%;
}

table.option.delivery th:nth-child(4) {
	width:10%;
}

table.option.delivery td:nth-child(3) {
	font-size:14px;
}

table.option.delivery td:nth-child(4) {
	font-size:14px;
	border-right:none;
}

@media screen and ( max-width:812px ) {
	table.option td.add {
		font-size:14px;
	}


	table.option.delivery td:nth-child(3) {
		font-size:13px;
	}
}

@media screen and ( max-width:767px ) {
  table.option.delivery {
  	margin-bottom:30px;
  }

	table.option td.add {
		font-size:13px;
	}

  table.option.delivery th:nth-child(2) {
  	width:45%;
  }
  
  table.option.delivery td.add {
  	padding:.5em 10px;
  }

	table.option.delivery td:nth-child(3),
	table.option.delivery td:nth-child(4) {
		font-size:12px;
	}
}

/* payment */
.payment.sub-title {
	background:#72738A;
	color:#fff;
	border-right:1px solid #fff;
	padding:12px 20px;
	margin-bottom:5px;
}

.payment.sub-title p {
	text-align:left;
	font-size:16px;
	font-weight:700;
}

.payment_info p.bold {
	font-size:14px;
}

p.repletion {
	font-size:12px;
	margin-bottom:60px;
}

table.option.payment {
	table-layout:inherit;
	border-spacing:0 15px;
	margin-bottom:60px;
}

table.option.payment.giftwrapping {
	margin-bottom:50px;
}

table.option.payment.none-mb {
	margin-bottom:0;
}

table.payment th {
	background:#72738A;
	color:#fff;
	text-align:center;
	font-size:14px;
	font-weight:700;
	border-right:1px solid #fff;
	box-sizing:border-box;
	padding:12px 0;
}

table.option.payment td.payment_heading {
	max-width:130px;
	font-weight:700;
	text-align:left;
	white-space:nowrap;
	padding:0 35px 0 20px;
}

table.option.payment td.payment_info {
	width:100%;
	padding:10px 25px;
	text-align:left;
	border-right:none;
}

table.option.payment td.payment_info p.mb20 {
	margin-bottom:20px;
}

/* cupon */
table.option.payment td.payment_info.cupon {
	padding:0;
}

table.option td.payment_info input,table.option td.payment_info select {
	background-color:#EDEEF0;
	padding:15px 0 15px 20px;
	box-sizing:border-box;
	border-left:2px solid #fff;
	color:#000;
	font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
	font-size:13px;
}

table.option td.payment_info .wrap_select {
	position:relative;
	max-width:300px;
	width:100%;
	z-index:1;
}

table.option td.payment_info .wrap_select::after {
	content:'';
	position:absolute;
	z-index:0;
	top:23px;
	bottom:0;
	margin:auto 0;
	right:20px;
	width:15px;
	background:url(../images/ico/arrow_select.png) no-repeat;
	background-size:15px;
}

table.option td.payment_info input.cupon_code {
	max-width:396px;
	width:70%;
}

table.option td.payment_info input.receipt {
	max-width:350px;
	width:70%;
}

table.option td.payment_info input.point_use {
	max-width:200px;
	text-align:right;
	font-size:18px;
	font-weight:700;
	padding:15px 20px;
	margin-right:15px;
	width:70%;
}

table.option td.payment_info select {
	width:100%;
}

table.option td.payment_info .wrap_select.gift {
	float:left;
}

span.gift {
	font-size:13px;
	vertical-align:middle;
	display:inline-block;
	padding:15px 0 15px 20px;
}

textarea.msg {
	resize:vertical;
	width:100%;
	background-color:#EDEEF0;
	padding:15px 0 15px 20px;
	box-sizing:border-box;
	border-left:2px solid #fff;
	color:#4A4A4A;
	font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
	font-size:14px;
}

textarea.msg.gift {
	margin-top:20px;
	height:77px;
}

textarea.msg.contact {
	height:279px;
}

@media screen and ( max-width:767px ) {
	.payment.sub-title {
		padding:12px 15px;
	}
	
	.payment.sub-title p {
		font-size:13px;
	}
	
	.payment_info p.bold {
		font-size:12px;
	}
	
	table.option.payment td.payment_info p.mb20 {
		margin-bottom:10px;
	}
	
	table.option td.payment_info .wrap_select::after {
		top:18px;
		right:15px;
	}
	
	table.option td.payment_info input.point_use {
		padding:10px 15px;
		margin-right:10px;
	}
	
	p.repletion {
		font-size:11px;
		margin-bottom:30px;
	}
	
	table.option.payment {
		margin-bottom:30px;
	}
	
	table.option td.payment_info input,table.option td.payment_info select {
		padding:12px 0 12px 15px;
		font-size:12px;
	}
	
	table.option td.payment_info input.point_use {
		font-size:16px;
	}
	
	table.option td.payment_info input.cupon_code,table.option td.payment_info input.receipt {
		width:100%;
	}
	
	table.option td.payment_info input.point_use {
		text-align:center;
		width:36%;
	}
	
	table.option.payment td.payment_heading {
		font-size:12px;
		padding:0 15px;
	}
	
	span.gift {
		font-size:11px;
		padding:10px 0 0;
	}
	
	textarea.msg.gift {
		height:120px;
		margin-top:10px;
		padding:12px 15px;
		font-size:12px;
	}
	
	textarea.msg.contact {
		height:140px;
		padding:12px 15px;
		font-size:12px;
	}
	table.option.payment.giftwrapping {
	    margin-bottom: 25px;
	}
}

/* payment > drawer */
.payment .drawer-menu .mainmenu {
	background-color:#fff;
	padding:.5em 0;
	color:#4D4D4D;
	font-size:14px;
}

.payment .drawer-menu .mainmenu ul li p {
	font-size:13px;
	margin-bottom:20px;
}
.payment .drawer-menu .mainmenu ul li p:last-child {
    margin-bottom: 0;
}
.payment .drawer-menu .tit_menu {
	font-size:14px;
}

.payment .drawer-menu .tit_menu.pos01 {
	padding:0 0 0 70px;
}
.payment .drawer-menu .tit_menu.pos02 {
    padding: 0 0 0 110px;
}
.payment .drawer-menu toggle {
	position:relative;
}

.payment .drawer-menu img.icon {
	position:absolute;
	top:-16px;
	height: 49px;
}
.payment .drawer-menu img.icon.rakuten {
    width: 95px;
    height: 28px;
    top: -6px;
}
.payment .drawer-menu .mainmenu .toggle {
	color:#4D4D4D;
	font-weight:700;
}

.payment .plus {
	top:-3px;
	widths:14px;
	height:14px;
}

.payment .plus span {
	background-color:#4D4D4D;
}

.payment .drawer-dropdown-menu {
	padding:30px 0 0;
	line-height:1.5;
}

img.rpay {
	width:256px;
}

@media screen and ( max-width:767px ) {
	table.option.payment td.payment_info {
		padding:5px 0 5px 15px;
	}
	
	.payment .drawer-menu .tit_menu {
		font-size:13px;
	}
	
	.payment .drawer-dropdown-menu {
		padding:15px 0 0;
	}
	
	.payment .plus {
		top:-3px;
		right:10px;
	}
	.payment .drawer-menu img.icon.rakuten {
	    width: 55px;
	    height: 16px;
	    top: 0;
	}
	.payment .drawer-menu .tit_menu.pos02 {
	    padding: 0 0 0 70px;
	}
}

/* mypage index */
.customer_name {
	position:relative;
	margin-bottom:40px;
}

.customer_name p.name {
	font-weight:700;
	font-size:22px;
	line-height:1;
}

.customer_name p.name span {
	font-size:16px;
}

.customer_name p.info {
	position:absolute;
	bottom:0;
	right:0;
	font-size:13px;
	    display: none;
}

.customer_name p.info span {
	font-weight:700;
}

.customer_stage {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flexbox;
	display: -moz-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
	justify-content: center;
	-webkit-justify-content: center;
  -moz-flex-pack: center;
	-ms-flex-pack: center;
	-webkit-box-pack: center;
	text-align:center;
	padding:20px 0;
	background-color:#F8F8F9;
}

.customer_stage div {
	width:25%;
	padding:15px 0;
	border-right:1px solid #DDD;
	box-sizing:border-box;
}

.customer_stage div:nth-child(4) {
	border-right:none;
}

.customer_stage p.status_tit {
	font-size:14px;
	font-weight:700;
}

.customer_stage p.status {
	font-size:22px;
	font-weight:700;
	letter-spacing: 0px;
}

.customer_stage p.status.mont {
	font-size:20px;
	font-weight:700;
	text-transform:uppercase;
	letter-spacing: 1.5px;
}

.customer_stage.standard p.status.mont {
	color:#454765;
}

.customer_stage.gold p.status.mont,.customer_stage.ultimate p.status.mont {
	color:#BAAA55;
}

.customer_stage p span {
	padding-left:.8em;
	font-family:"游ゴシック",YuGothic,"ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,sans-serif;
	font-size:11px;
	font-weight:400;
}

.customer_data_info {
	position:relative;
	margin-top:30px;
	margin-bottom:80px;
}

.customer_data_info p.limit_point {
	font-weight:700;
	font-size:16px;
	line-height:1;
}

.customer_data_info p.about_point {
	position:absolute;
	line-height:1;
	bottom:0;
	right:0;
	font-size:13px;
	text-decoration:underline;
}

/* mypage index menu */
ul.mypage_menu {
	width:100%;
}

ul.mypage_menu li {
	position:relative;
	display:block;
	border-bottom:1px solid rgba(0,0,0,0.15);
}

ul.mypage_menu li:first-child {
	border-top:1px solid rgba(0,0,0,0.15);
}
  
ul.mypage_menu li:before {
	content:"";
	display:block;
	position:absolute;
	top:calc(50% - 6px);
	right:2em;
	width:13px;
	height:13px;
	border-right:1px solid #707070;
	border-bottom:1px solid #707070;
	display:inline-block;
	-webkit-transform:rotate(-45deg);
	transform:rotate(-45deg);
}

ul.mypage_menu li a {
	padding:25px;
	font-size:14px;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flexbox;
	display: -moz-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: flex;
  align-items: center;
	-webkit-box-align: center;
  -moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
}

ul.mypage_menu li a:hover {
	background-color:#EDEEF0;
}

ul.mypage_menu li .mypage_menu_txt {
	float:left;
}

ul.mypage_menu li .mypage_menu_txt p.tit {
	font-size:18px;
	font-weight:700;
	display:block;
}

ul.mypage_menu img {
	float:left;
	margin-right:40px;
}

ul.mypage_menu img.icon_01 {
	width:30px;
}

ul.mypage_menu img.icon_02 {
	width:28px;
	padding-right:2px;
}

ul.mypage_menu img.icon_03 {
	width:28px;
	padding-right:2px;
}

ul.mypage_menu img.icon_04 {
	width:30px;
}

ul.mypage_menu img.icon_05 {
	width:25px;
	padding-right:5px;
}

/* customer_stage color setting */
.customer_stage.standard {
	background-color:#F8F8F9;
}

.customer_stage.standard div,.customer_stage.gold platinum {
	border-right:1px solid #DDD;
}

.customer_stage.gold {
	background-image:linear-gradient(-180deg,#F8E78B 0%,#FFF 100%);
}

.customer_stage.gold div {
	border-right:1px solid #E2DAA3;
}

.customer_stage div:nth-child(4) {
	border-right:none;
}

.customer_stage.platinum {
	color:#ededed;
	background-image:linear-gradient(0deg,#CCC 0%,#484848 100%);
}

.customer_stage.diamon {
	color:#EEE8E9;
	background-image:linear-gradient(0deg,#C9B7B7 0%,#793D54 100%);
}

.customer_stage.ultimate {
	color:#E1E1E1;
	background-image:linear-gradient(0deg,#9B9B9B 0%,#0C0C0D 100%);
}

@media screen and (max-width: 768px) {
	.customer_name {
		margin-bottom:35px;
	}
	
	.customer_name p.name {
		float:none;
		font-size:18px;
		padding-bottom:1em;
	}
	
	.customer_name p.name span {
		font-size:14px;
	}
	
	.customer_name p.info {
		position:inherit;
		font-size:12px;
	}
	
	.customer_stage p.status_tit {
		font-size:14px;
	}
	
	.customer_stage p.status {
		font-size:18px;
	}
	
	.customer_stage p.status.mont {
		font-size:18px;
	}
	
	.customer_data_info {
		text-align:right;
		margin-bottom: 50px;
	}
	
	.customer_data_info p.limit_point {
		font-size:14px;
		margin-bottom:1em;
	}
	
	.customer_data_info p.about_point {
		font-size:12px;
		position:inherit;
	}
	
	ul.mypage_menu li a {
		padding:20px;
		font-size:13px;
	}
	
	ul.mypage_menu li .mypage_menu_txt p.tit {
		font-size:16px;
	}
	
	ul.mypage_menu img {
		margin-right:30px;
	}
}

@media screen and (max-width:450px) {
	.customer_stage {
		display:block;
		justify-content:inherit;
		padding:0;
		text-align:left;
	}
	
	.customer_stage div {
		width:100%;
		padding:15px 30px;
		border-right:none;
		border-bottom:1px solid #DDD;
		box-sizing:border-box;
	}
	.customer_stage div:last-child {
		border-bottom:none;
	}
	
	.customer_stage div p {
		display:inline-block;
	}
	
	.customer_stage div p.status_tit {
		min-width:140px;
	}
	
	.customer_stage div:nth-child(4),.customer_stage.standard div,.customer_stage.gold div {
		border-right:none;
	}
	
	.customer_name {
		margin-bottom:25px;
	}
	
	.customer_name p.name {
		font-size:16px;
	}
	
	.customer_name p.name span {
		font-size:12px;
	}
	
	.customer_name p.info {
		font-size:10px;
	}
	
	.customer_data_info p.limit_point {
		font-weight:700;
		font-size:12px;
	}
	
	.customer_data_info p.about_point {
		position:inherit;
		font-size:10px;
	}
	
	ul.mypage_menu li a {
		padding:15px 10px;
		font-size:12px;
	}
	
	ul.mypage_menu li .mypage_menu_txt {
		padding:0 50px 0 0;
		line-height: 1.5;
	}
	
	ul.mypage_menu li .mypage_menu_txt p.tit {
		font-size:15px;
	}
	
	ul.mypage_menu img {
		margin-right:20px;
	}
	
	ul.mypage_menu li:before {
		right:1em;
	}
}

/* mypage > wishlist */
.list_item.wishlist {
	width:100%;
	float:none;
	padding-top:60px;
	border-top:3px solid #454765;
}

.list_item.wishlist .clearfix > div {
	float:left;
	width:17.5%;
	margin-right:3.12%;
	position:relative;
	margin-bottom:35px;
}

.list_item.wishlist .clearfix > div:nth-child(3n) {
	margin-right:3.12%;
}

.list_item.wishlist .clearfix > div:nth-child(5n) {
	margin-right:0;
}

@media screen and (max-width: 812px) {
	.list_item.wishlist {
		padding-top:35px;
	}
	
	.list_item.wishlist .clearfix > div {
		width:30.4%;
		margin-right:4.4%;
		margin-bottom:35px;
	}
	
	.list_item.wishlist .clearfix > div:nth-child(3n) {
		margin-right:0;
	}
}

@media screen and (max-width: 767px) {
	.list_item.wishlist {
		padding-top:25px;
	}
	
	.list_item.wishlist {
		width:89%;
		clear:both;
		float:none;
		margin:0 auto;
		padding-top:30px;
	}
}

@media screen and ( max-width:450px ) {
	.list_item.wishlist .clearfix > div {
		width:47.8%;
		margin-right:4.4%;
		margin-bottom:20px;
	}
	
	.list_item.wishlist .clearfix > div:nth-child(3n) {
		margin-right:4.4%;
	}
	
	.list_item.wishlist .clearfix > div:nth-child(2n) {
		margin-right:0;
	}
}

.wish_delete {
	position:absolute;
	width:auto;
	padding:0 .5em;
	color:#fff;
	font-size:11px;
	line-height:22px;
	top:15px;
	right:15px;
	cursor:pointer;
	z-index:3;
	background-color:#B2B2B2;
}

p.none_wishlist {
	font-size:22px;
	text-align:center;
	margin-top:90px;
	margin-bottom:110px;
}

.wish_delete .close {
	position:relative;
	display:inline-block;
	width:8px;
	height:8px;
	overflow:hidden;
}

.wish_delete .close::before,
.wish_delete .close::after {
	content:'';
	position:absolute;
	height:2px;
	width:100%;
	top:50%;
	left:0;
	margin-top:-1px;
	background:#fff;
}

.wish_delete .close::before {
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}

.wish_delete .close::after {
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
}

.wish_delete .close.thick::before,
.wish_delete .close.thick::after {
	height:1px;
	margin-top:0;
}

@media screen and (max-width: 812px) {
	p.none_wishlist {
		font-size:18px;
		text-align:center;
		margin-top:70px;
		margin-bottom:90px;
	}
}

@media screen and (max-width: 767px) {
	p.none_wishlist {
		font-size:16px;
		text-align:center;
		margin-top:50px;
		margin-bottom:70px;
	}
}

/* mypage > historylist
---------------------------------------- */
table.form.history th,table.form.confirm.history td {
	font-size:20px;
	color:#000031;
	font-weight:700;
}

@media screen and ( max-width:767px ) {
	table.form.history th,table.form.confirm.history td {
		font-size:16px;
		color:#000031;
		font-weight:700;
	}
}

@media screen and ( max-width:812px ) {
	table.form.history th,table.form.confirm.history td {
		font-size:14px;
		color:#000031;
		font-weight:700;
	}
}

table.option.historylist {
	margin-bottom:0;
}

table.option.historylist td {
	font-size:14px;
}

table.option.historylist td.detail {
	text-align:left;
}

table.option.historylist ul {
	padding:0 2em;
}

table.option.historylist ul li {
	display:block;
	line-height:1.6;
}

table.option.historylist th:nth-child(1) {
	width:15%;
}

table.option.historylist th:nth-child(2) {
	width:15%;
}

table.option.historylist th:nth-child(3) {
	width:55%;
	padding:0 2em;
}

table.option.historylist th:nth-child(4) {
	width:15%;
}

table.option.historylist td {
	font-size:14px;
}

table.option.historylist td:nth-child(4) {
	border-right:none;
}

@media screen and ( max-width:812px ) {
	table.option td.add {
		font-size:12px;
	}
	
	table.option.historylist td {
		font-size:13px;
	}
}

@media screen and ( max-width:767px ) {
	table.option.historylist th:nth-child(1) {
		width:25%;
	}
	
	table.option.historylist th:nth-child(2) {
		width:25%;
	}
	
	table.option.historylist th:nth-child(3) {
		width:55%;
	}
	
	table.option.historylist th:nth-child(4) {
		width:15%;
	}
	
	table.option.historylist ul {
		font-size:10px;
		padding:0 1em;
	}
	
	table.option.historylist th,table.option.historylist td {
		font-size:11px;
	}
}



/* amazonpay rakutenpay */

.submit_sys.btn_img {
    padding: 0;
    background: none;
}
.submit_sys.btn_img.rakuten {
    background: #bf0001;
}
.submit_sys.btn_img.rakuten img {
    width: 229px;
    height: 43px;
    padding: 10px;
}
@media screen and ( max-width:767px ) {
	.submit_sys.btn_img.rakuten img {
	    width: 176px;
	    height: 33px;
	    padding: 5px 0;
	}
}


/* GMO */
.tit_page.gmo {
    font-size: 30px;
    margin: 45px auto;
}
.wrap_contents.sub.bread.gmo {
    padding-top: 30px;
    font-size: 13px;
    color: #ccc;
    margin: 0 auto;
}
.wrap_contents.sub.bread.gmo ul li.active{
    color: #333;
    border-bottom: 1px solid #333;
    padding-bottom: 2px;
}
table.form.confirm td.gmo {
    background: none;
}
.copyright.gmo {
    text-align: center;
    font-size: 14px;
    letter-spacing: 0px;
    width: 100%;
    border-bottom: 10px solid #000031;
    padding-bottom: 30px;
    margin-top: 100px;
}
@media screen and ( max-width:812px ) {
	.tit_page.gmo {
	    font-size: 26px;
	    margin: 40px auto;
	}
	.wrap_contents.sub.bread.gmo {
	    padding-top: 20px;
	    font-size: 12px;
	}
	.copyright.gmo {
	    font-size: 12px;
	    padding-bottom: 20px;
	    margin-top: 80px;
	}
}
@media screen and ( max-width:767px ) {
	.tit_page.gmo {
	    font-size: 24px;
	    margin: 35px auto;
	}
	.wrap_contents.sub.bread.gmo {
	    padding-top: 10px;
	    font-size: 10px;
	    width: 89%;
	    border-bottom: none;
	    margin-bottom: 15px;
	}
	.wrap_contents.sub.bread.gmo ul {
	    padding: 0;
	    border: none;
	}
	table.form.confirm td.gmo {
	    padding: 3px 0;
	}
	.copyright.gmo {
	    font-size: 10px;
	    margin-top: 50px;
	}
	input#SecurityCode.code.col2 {
	    width: 100%;
	}
	table.form td .wrap_select.col2.month_card {
	    margin-bottom: 2px;
	}
}


/* cart kaishu */

.announcement_cart {
    font-size: 14px;
    margin-bottom: 80px;
    text-align: left;
    margin-top: -10px;
}
.announcement_cart a {
    text-decoration: underline;
}
.announcement_confirm {
    font-size: 14px;
    margin-bottom: 80px;
    text-align: left;
    margin-top: -50px;
}
.announcement_confirm a {
    text-decoration: underline;
}
@media screen and ( max-width:767px ) {
	.announcement_cart {
	    font-size: 12px;
	    margin-bottom: 45px;
	    margin-top: -15px;
	}
	.announcement_confirm {
	    font-size: 12px;
	    margin-bottom: 45px;
	    margin-top: -30px;
	}
}
